In [2]:
import pandas as pd

In [6]:
DATASETS_PATH = ''
PREPROCESSED_PATH = DATASETS_PATH + 'preprocessed/'

ACTIVE_COMPANIES_FILE = PREPROCESSED_PATH + 'empresas-ativas.csv'
ACTIVE_COMPANIES_ACTIVITIES_FILE = PREPROCESSED_PATH + 'empresas-ativas-atividades.csv'
OPENING_COMPANIES_FILE = PREPROCESSED_PATH + 'empresas-aberturas.csv'
OPENING_COMPANIES_ACTIVITIES_FILE = PREPROCESSED_PATH + 'empresas_aberturas_atividades.csv'
OPENING_COMPANIES_TIME_SERIES_FILE = PREPROCESSED_PATH + 'empresas_aberturas_serie_historica.csv'

In [7]:
df_active_companies = pd.read_csv(ACTIVE_COMPANIES_FILE, sep=';', encoding='utf-8')
df_active_companies_activities = pd.read_csv(ACTIVE_COMPANIES_ACTIVITIES_FILE, sep=';', encoding='utf-8')
df_opening_companies = pd.read_csv(OPENING_COMPANIES_FILE, sep=';', encoding='utf-8')
df_opening_companies_activities = pd.read_csv(OPENING_COMPANIES_ACTIVITIES_FILE, sep=';', encoding='utf-8')
df_opening_companies_time_series = pd.read_csv(OPENING_COMPANIES_TIME_SERIES_FILE, sep=';', encoding='utf-8', decimal=',')

In [8]:
df_active_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295155 entries, 0 to 295154
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   hash_chave    295155 non-null  object
 1   porte         295155 non-null  object
 2   cod_natureza  295155 non-null  object
 3   natureza      295155 non-null  object
 4   municipio     295155 non-null  object
 5   filial        295155 non-null  object
 6   qtd           295155 non-null  int64
dtypes: int64(1), object(6)
memory usage: 15.8+ MB

In [9]:
df_active_companies_activities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103999 entries, 0 to 1103998
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   hash_chave       1103999 non-null  object
 1   cod_atividade    1103999 non-null  object
 2   descr_atividade  1103999 non-null  object
 3   principal        1103999 non-null  object
 4   seguimento       1103999 non-null  object
 5   qtd              1103999 non-null  int64
dtypes: int64(1), object(5)
memory usage: 50.5+ MB

In [10]:
df_opening_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170285 entries, 0 to 170284
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   hash_chave_abertura  170285 non-null  object
 1   ano                  170285 non-null  int64
 2   mês                  170285 non-null  object
 3   porte                170285 non-null  object
 4   cod_natureza         170285 non-null  object
 5   descr_natureza       170285 non-null  object
 6   municipio            170285 non-null  object
 7   filial               170285 non-null  object
 8   qtd                  170285 non-null  int64
dtypes: int64(2), object(7)
memory usage: 11.7+ MB

In [16]:
# group by the rows and find the number of duplicates
df_opening_companies.duplicated().sum()

26

In [11]:
df_opening_companies_activities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616250 entries, 0 to 616249
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   hash_chave_abertura  616250 non-null  object
 1   cod_atividade        616250 non-null  object
 2   descr_atividade      616248 non-null  object
 3   seguimento           616248 non-null  object
 4   qtd                  616250 non-null  int64
dtypes: int64(1), object(4)
memory usage: 23.5+ MB

In [12]:
df_opening_companies_time_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27578 entries, 0 to 27577
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ano           27578 non-null  int64
 1   mês           27578 non-null  object
 2   serial        27578 non-null  object
 3   cod_natureza  27578 non-null  object
 4   natureza      27578 non-null  object
 5   municipio     27578 non-null  object
 6   cp_nome       27578 non-null  object
 7   cp_endereco   27578 non-null  object
 8   cp_total      27578 non-null  object
 9   registro      27578 non-null  object
 10  hh            27578 non-null  int64
 11  mm            27578 non-null  int64
 12  ss            27578 non-null  int64
 13  registro_hr   27578 non-null  float64
 14  registro_min  27578 non-null  float64
dtypes: float64(2), int64(4), object(9)
memory usage: 3.2+ MB